.navigation {
  font-family: 'ibm plex mono', sans-serif;
  font-size: 20px;
  color: pink;
  margin: auto;
  text-align: left;
  position: absolute;
  padding-left: 20%;
  padding-top: 20%;
  line-height: 170%;
}

section {
  display: flex;
  flex-direction: row;
}

p {
  font-family: 'ibm plex mono', sans-serif;
  font-size: 14px;
  color: pink;
  float: right;
  text-align: left;
  line-height: 200%;
  margin-left: 10px;
  padding-top: 150px;
  padding-right: 100px;
  padding-bottom: 100px;
}

body {
  background-color: rgb(46, 49, 75);
}

a {
  color: white;
}

a:hover {
  color: hotpink;
}

h6 {
  position: fixed;
  font-family: 'ibm plex mono', sans-serif;
  font-size: 10px;
  color: pink;
  bottom: 15px;
  right: 20px;
}

h5 {
  font-family: 'ibm plex mono', sans-serif;
  font-size: 15px;
  color: pink;
  text-align: center;
  padding-top: 20px;
}

.aboutphoto {
  max-width: 1000px;
  height: 500px;
  padding-top: 100px;
  padding-left: 80px;
  padding-bottom: 100px;
  float: left;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 100px;
}

.portfolio-item {
  width: 45%;
  margin-bottom: 10px;
}

.portfolio-item img:hover {
  opacity: 50%;
  transition: 0.5s;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
iframe {
  padding-top: 15px;
}
