body {
  background-color: black;
}

html {
  cursor: cell;
}

/*links*/
a {
  color: white;
}

/*splash page link animation*/
.button {
  font-family: 'cooper hewitt', sans-serif;
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 0.25em;
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #FF00E0, -2px 0 0 #15FF00;
  }

  to {
    text-shadow: 2px 0.5px 2px #FF00E0, -1px -0.5px 2px #15FF00;
  }
}

.traditional_art:hover, .digital_art:hover, .photo:hover, .video:hover, .about:hover {
  animation-play-state: paused;
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-color: pink;
}

/*splash page link positioning*/
.traditional_art {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
}

.digital_art {
  position: absolute;
  top: 0;
  right: 0%;
  padding: 25px;
}

.photo {
  position: absolute;
  bottom: 0%;
  left: 0;
  padding: 25px;
}

.video {
  bottom: 0%;
  right: 0%;
  position: absolute;
  padding: 25px;
}

.about {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/*navigation bar*/
.navigation {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  margin: 20px;
}

.navigation a {
  font-family: 'cooper hewitt', sans-serif;
  letter-spacing: 0.15em;
  font-size: 14px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a:hover {
  color: pink;
}

.active {
  color: cyan;
}

/*page transitions*/
.fadein {
    opacity: 0;
    transition: opacity 0.75s;

}

body.loaded .fadein {
    opacity: 1;
}

/*other*/
section {
  display: flex;
  flex-direction: row;
}

p, h1 {
  font-family: 'cooper hewitt', sans-serif;
  font-size: 14px;
  letter-spacing: 0.15em;
  color: pink;
  line-height: 200%;
}

.abouttext {
  float: right;
  text-align: left;
  margin-left: 10px;
  padding: 150px 100px 100px 0;
}

.aboutphoto {
  max-width: 600px;
  padding: 100px 50px 100px 80px;
  float: left;
}

h1 {
    padding: 150px 10px 10px 0;
    text-align: left;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 100px;
}

.portfolio-item {
  width: 45%;
  margin-bottom: 10px;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

iframe {
  padding-top: 40px;
}
